.rank-logo{
    height: 30%;
    width: auto;
    position: absolute; left: 50%; transform: translateX(-50%); top: 2%;
}

.rank-box{
    height: 79%;
    width: 90%;
    position: absolute; left: 50%; transform: translateX(-50%); top: 120px;
}

.rankList{
    position: absolute; left: 10%; top: 23%;
    color: white;
    font-weight: bold;
    font-size: 230%;
}

.ranker{
    margin: 10px;
}